<!DOCTYPE html>
<html>
  <head>
    <title>Heroes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= NOMBRE %></h1>
    <p>"Hola, mi nombre es <%= NOMBRE %> y soy
      <%= PROFESION %></p>
  </body>
</html>